{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card" style="width: 35rem;">
      <div class="card-body">

          <form method="POST" class="post-form" enctype="multipart/form-data" action="">
              {%csrf_token%}  
              <br>
              <div class="d-flex justify-content-center">
              <br>
              <h2>Loving U 글 수정하기</h2>
              </div>

              {{form.as_p}}
              
              <input type="submit" class="save btn btn-outline-dark" value="저장">
              <a href="{% url 'index' %}">
                <button type="button" class="btn btn-outline-dark">취소</button>
              </a>
            </form>

      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("id_images").style.visibility = 'hidden';
  $("label[for='id_images']").text('현재 img 서버 점검으로 인하여 기본 이미지 선택만 가능 합니다.');
</script>

{% endblock %}