{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-center">
      <div class="card" style="width: 35rem;">
        <div class="card-body">
  
            <form method="POST" class="post-form" enctype="multipart/form-data">
                {%csrf_token%}  
                <br>
                <div class="d-flex justify-content-center">
                <br>
                <h2>Loving U 글쓰기</h2>
                </div>

                <div class="form-group">
                  <label for="id_text2">본문 내용</label>
                  <textarea class="form-control" rows="3" name="text2" cols="40" rows="10" maxlength="150" required id="id_text" placeholder="150자 이내로 적어주시기 바랍니다."></textarea>
                  <h6 class="pull-right" id="count_message"></h6>
                </div>

                <div class="form-group">
                  <label for="id_text">태그</label>
                  <textarea class="form-control" rows="3" name="text" cols="40" rows="10" maxlength="150" required id="id_text" placeholder="150자 이내로 적어주시기 바랍니다."></textarea>
                  <h6 class="pull-right" id="count_message"></h6>
                </div>
                
                <div class="form-group">
                  <label for="id_text3">지역 태그</label>
                  <textarea class="form-control" rows="3" name="text3" cols="40" rows="10" maxlength="150" required id="id_text" placeholder="150자 이내로 적어주시기 바랍니다."></textarea>
                  <h6 class="pull-right" id="count_message"></h6>
                </div>
                
                  <div class="form-group">
                    <label for="id_images">사진</label>
                    <input type="file" class="form-control-file" id="id_images" name="images" accept="image/*" >
                  </div>


                  <label for="id_secret">나만보기</label>&nbsp;&nbsp;
                  <input type="checkbox" name="secret" class="form-group" id="id_secret"><br>

                  <button type="submit" class="save btn btn-success">저장</button>
                  <a href="{% url 'index' %}">
                    <button type="button" class="btn btn-danger">취소</button>
                  </a>
              </form>
  
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">

  var text_max = 0;
  $('#count_message').html(text_max + ' / 150');

  $('#id_text').keyup(function() {
  var text_length = $('#id_text').val().length;
  var text_remaining = text_max + text_length;

  $('#count_message').html(text_remaining + ' / 150');
  });

  </script>
  {% endblock %}

